<div class="container">
  <div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">Create an account</h2>

    <form #frmRegister="ngForm" class="login-container" (ngSubmit)="onRegister(frmRegister)">
      <p>
        <input type="text" name="name" placeholder="name" ngModel required>
      </p>
      <p>
        <input type="text" name="lastname" placeholder="lastname" ngModel required>
      </p>
      <p>
        <input type="email" name="email" placeholder="Email" ngModel required>
      </p>
      <p>
        <input type="number" name="phonenumber" placeholder="Phonenumber" ngModel required>
      </p>
      <p>
        <select  type="text" name="role" ngModel required class="form-select" aria-label="Default select example" placeholder="Select Role">
          <option selected>Open this select menu</option>
          <option value="61a5669c58a92d4350c83668">Gerente</option>
          <option value="61a566ae58a92d4350c8366b">Desarrollador</option>
        </select>
      </p>
      <p>
        <input type="password" name="password" placeholder="Password" ngModel required>
      </p>
      <p>
        <input type="submit" value="Register">
      </p>
      <p>
        <button class="boton"  routerLink="/login">Back</button>
      </p>
    </form>
  </div>
</div>
