<app-navbar></app-navbar>
<p>projects works!</p>
<router-outlet></router-outlet>
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>My Projects</title>
  </head>

  <body>
    <h1 class="card-header">Projects I Work on</h1>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Expiration Date</th>
            <th scope="col">Responsable</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Gestio De Proyectos</td>
            <td>19-Noviembre-2021</td>
            <td>30-Diciembre-2021</td>
            <td>Jesus Guadalupe</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h1>Add project</h1>
      <div class="mb-3">
        <label for="projectname" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="proyec.projectname"
        />
      </div>
      <div class="mb-3">
        <label for="projectdescription" class="form-label">Description</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="proyec.projectdescription"
        />
      </div>
      <button (click)="alta()" class="btn btn-outline-success">Add</button>
    </div>
  </body>
</html>
