<div class="container">
  <div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">Log in</h2>

    <form #frmLogin="ngForm" class="login-container" (ngSubmit)="onLogin(frmLogin)">
      <p>
        <input type="useremail" name="useremail" placeholder="Email" ngModel required>
      </p>
      <p>
        <input type="userpassword" name="userpassword" placeholder="Password" ngModel required>
      </p>
      <p>
        <input type="submit" value="Send">
      </p>
      <p>
        <button class="boton" routerLink="/registro">Create Account</button>
      </p>
    </form>
  </div>
</div>